aiohttp==3.8.3
aiosignal==1.2.0
APScheduler==3.9.1
async-timeout==4.0.2
attrs==22.1.0
autopep8==1.7.0
charset-normalizer==2.1.1
discord.py==2.0.1
frozenlist==1.3.1
idna==3.4
multidict==6.0.2
pycodestyle==2.9.1
python-dotenv==0.21.0
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
simple-chalk==0.1.0
six==1.16.0
toml==0.10.2
tzdata==2022.4
tzlocal==4.2
watchdog==2.1.9
yarl==1.8.1
